#search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-container form {
  background-color: var(--bg-primary);
  width: 100%;
  margin: 12px auto 20px auto;
  display: flex;
  justify-content: center;
  position: relative;
}

#search-container form input {
  padding: 8px 5px;
  width: 33%;
  margin: 0 auto;
}

.icon {
  position: absolute;
  left: 40%;
  bottom: -130%;
  cursor: pointer;
  transition: var(--transition);
}

.icon:hover {
  transform: scale(0.8);
}

#search-container input:focus {
  outline-color: rgb(54, 54, 253);
}

.pops-container {
  color: white;
  height: 2rem;
  min-width: 100px;
  text-align: center;
}

@media screen and (max-width: 650px) {
  #search-container form {
    position: fixed;
    top: 0;
    margin: 0 auto;
    padding: 10px;
  }
  #search-container form input {
    width: 70%;
    margin: 0 auto;
    padding: 10px 15;
  }
  .icon {
    /* display: none; */
    bottom: 5px;
    left: 10%;
    transform: scale(0.9);
  }
}
