.register {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 300px;
  max-width: 350px;
  background-color: #f3f3f3;
  margin: 3% auto;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid rgb(138, 138, 138);
  box-shadow: rgba(200, 200, 2000, 0.4) 0px 2px 4px, rgba(200, 200, 2000, 0.3) 0px 7px 13px -3px,
    rgba(200, 200, 2000, 0.2) 0px -3px 0px inset;
}

@media screen and (max-width: 500px) {
  .register {
    width: 100%;
    font-size: 1.2rem;
    min-height: 60vh;
    max-height: 90vh;
    margin-top: 20%;
    justify-content: space-between;
  }
  .message {
    margin-bottom: 15px;
  }
}

.register_form {
  display: flex;
  flex-direction: column;
}

.register_form input:not(.sign),
.register button {
  margin-bottom: 15px;
}
.register_form input,
.register button {
  padding: 5px 3px;
}

.register button {
  padding: 8px 3px;
  font-weight: 400;
}

.register_form input {
  background-color: transparent;
  border-radius: 3px;
  border: #f0c14b 1px solid;
}

.register button {
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: #f0c14b;
}

.message {
  width: 100%;

  height: 25px;

  display: flex;
  align-items: center;

  color: red;
  /* border: 1px solid black; */
}

.register button:hover {
  border: 1px solid rgb(168, 135, 52);
  box-shadow: rgba(168, 135, 52, 0.17) 0px -3px 5px 0px inset, rgba(158, 125, 42, 0.15) 0px -26px 10px 0px inset,
    rgba(168, 135, 52, 0.1) 0px -79px 40px 0px inset, rgba(168, 135, 52, 0.06) 0px 2px 1px,
    rgba(168, 135, 52, 0.09) 0px 4px 2px, rgba(168, 135, 52, 0.09) 0px 8px 4px, rgba(168, 135, 52, 0.09) 0px 16px 8px,
    rgba(168, 135, 52, 0.09) 0px 32px 16px;
}

.seperator-by-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seperator-by-line > span {
  flex: 1;
  text-align: center;
  margin: 10px 0;
}

.seperator-by-line > span:not(:nth-child(2)) {
  border-top: 1px solid rgba(70, 70, 70, 0.4);
  flex: 0.8;
}

.registration-change-type-btn {
  margin: 0 auto;
  cursor: pointer;
  padding: 2px 4px;
  min-width: 50%;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  color: rgba(251, 251, 251, 0.9);
  background-color: #333333;
  transition: all 200ms;
}

.registration-change-type-btn:hover {
  background-color: rgba(51, 51, 51, 0.15);
  color: #333333;
}

.forgot-password-btn {
  font-size: smaller;
  cursor: pointer;
  transition: all 0.2s;
}

.forgot-password-btn:hover {
  color: #f0c14b;
}
